zend_extension=/usr/lib64/php/modules/xdebug.so
xdebug.collect_vars        = on
xdebug.dump.GET            = *
xdebug.dump.POST           = *
xdebug.dump_globals        = 4
xdebug.idekey              = VAGRANT
xdebug.remote_connect_back = 1
xdebug.remote_enable       = on
xdebug.remote_log          = "/var/log/xdebug"
xdebug.remote_port         = 9000
xdebug.show_local_vars     = on
